body {
    background-repeat: repeat;
    background-attachment: fixed;
}
a{
    color: #dd00dd;
    text-decoration: none;
}
a:hover{
    color: #dd0033;
    text-decoration: underline;
}
s {
    opacity: 0.4;
}
h1, h2, h3 {
    font-family: 'Josefin Sans';
}
.entry {
    margin: 50px 22vw 50px 22vw;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Computer Modern';
    font-size: 22px;
}
.theorem {
    border-radius: 5px;
    border: 2px solid #0033dd;
    background-color: #ddeeff;
    padding: 10px 10px 10px 10px;
}
.proof, details {
    border-radius: 5px;
    border: 2px solid #00dd33;
    background-color: #ddffee;
    padding: 10px 10px 10px 10px;
}
.problem {
    border-radius: 5px;
    border: 2px solid #dd3300;
    background-color: #ffeedd;
    padding: 10px 10px 10px 10px;
}
.highlight {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}
@font-face {
  font-family: "Computer Modern";
  src: url('../../fonts/cmunss.ttf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('../../fonts/cmunsx.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('../../fonts/cmunsi.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url('../../fonts/cmunso.ttf');
  font-weight: bold;
  font-style: italic;
}
.code {
    background-color: rgb(10,5,10,0.95);
    white-space: pre;
}
.date {
    font-size: 18px;
}
.image {
    padding: 5px;
}
.image:hover {
    background-color: rgb(255,255,255,0.3);
    border-radius: 5px;
}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 5px;
}
